<div class="animated fadeIn">
  <br>
  <div class="card">
    <input class="form-control" placeholder="Compose the title for the post" [(ngModel)] = "title" />
  </div>
  <div class="card">
    <div class="form-group">
      <p style="padding-top:1%; padding-left:1%">Choose a pic for the blog</p>
      <input type="file" class="form-control" (change)="onFileChange($event)">
    </div>

  </div>
  <div style="height: 70%;" [froalaEditor] [(froalaModel)]="editorContent"></div>
  <br>
  <button class="btn btn-block" style="background-color: #51de51;" (click)="onSubmit()"> Save</button>
</div>