<div class="animated fadeIn" style="background-color : #f5f5ef">
  <div class="row" >
    <div class="col-sm-12 col-md-12">
      <br>
      <strong><h4>Caselaws</h4></strong>
      <br>
      <div class="row">
        <div *ngFor="let post of pagedItems" class="col-sm-6 col-md-3">
          <div (click) = "displayBlog(post)" class="card border-secondary">
            <div class="card-header">
             <img src="{{'../../../assets/img/brand/' + post.image}}" style=" width: 75%;height: 75%;"/>
            </div>
            <div class="card-body">
              {{post.title | slice:0:100}}
              <br>
              <p style="color: #51de51;">{{post.date}}</p>
              <br>
              <p [innerHtml]="post.text | slice:0:350"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-2">
      <div class="row">
        <div class="col-sm-12 md-12">
          <div class="card">
            sd
          </div>
        </div>
      </div>
    </div> -->
  </div>

  

  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(1)">First</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(pager.currentPage - 1)">Previous</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
      <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.totalPages)">Last</a>
    </li>

  </ul>

</div>

<!-- <div style=" background-color: #e6e6e6;">
  <div class="row">
    <div class="col-sm-4 md-4">
      <div class="">
            <h4>Chat with experts</h4>
            contact@15cacb.com <br>
            +91 9967110003
      </div>
    </div>
    <div class="col-sm-4 md-4">
        <div class="card">
            <div class="card-header">
              <strong>Company</strong>
              <small>Form</small>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="company">Name</label>
                <input type="text" class="form-control" id="company" placeholder="Enter your  name">
              </div>
              <div class="form-group">
                <label for="vat">Email</label>
                <input type="text" class="form-control" id="vat" placeholder="PL1234567890">
              </div>
              <div class="form-group">
                <label for="street">Contact Number</label>
                <input type="text" class="form-control" id="street" >
              </div>
              
              <div class="form-group">
                <label for="country">Query</label>
                <input type="text" class="form-control" id="country" >
              </div>
            </div>
          </div>
    </div>
    <div class="col-sm-4 md-4">

    </div>
  </div>
</div> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
